{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        {{ error.messageKey|trans(error.messageData, 'security') }}
    {% endif %}

    <section class="bg-green95 ">
        <div class="min-h-screen min-w-screen flex justify-center items-center ">
            <div class="w-96 card card-tertiary">
                <form action="{{ path('app_login') }}" method="post">
                    <div class="card-header">
                        <h6 class="uppercase font-bold text-lg">Login</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group flex flex-col align-items-center justify-content-between my-6">
                            <label for="username" class="card-text">Email :</label>
                            <input type="text" id="username" name="_username" class="form-control " />
                        </div>
                        <div class="form-group has-success flex flex-col align-items-center justify-content-between my-6">
                            <label for="password" class="card-text">Password :</label>
                            <input type="password" id="password" name="_password" class="form-control is-valid" />
                        </div>
                        <div class="flex justify-center mb-1">
                            <div class="d-flex">
                                <button class="btn btn-xs btn-primary border-dark" type="submit">
                                    <span class="btn-text">Submit</span>
                                </button>
                            </div>
                        </div>
                    </div>
                {# If you want to control the URL the user is redirected to on success #}
                        <input type="hidden" name="_target_path" value="/profil"> 
                </form>
            </div>
        </div>
    </section>

{% endblock %}